{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-light" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'homepage' %}"><img style="margin: 0 0.5rem" width="50rem" src="{% static 'images/motocross.png' %}" alt="Django" />MotoGears</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active mx-2" aria-current="page" href="{% url 'homepage' %}">Home</a>
        <a class="nav-link mx-2" href="#">Shop</a>
        <a class="nav-link mx-2" href="#">Cart</a>

        {% if user.is_authenticated %}
          <a class="nav-link mx-2" href="#">Profile</a>
        {% else %}
          <a class="nav-link mx-2" href="{% url 'account_login' %}">Login</a>
          <a class="nav-link mx-2" href="{% url 'account_signup' %}">Signup</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
