<!-- This FILE Serves as Main for User's Profile Section where we will have a Sidebar on left side all time and Dynamic Content on right colument -->

{% extends 'layout/main.html' %} {% load static %} {% block content %}
  <link rel="stylesheet" href="{% static 'css/userprofile.css' %}" />
  <div class="row">
    <div class="col profile-sidebar">
      <a class="btn" href="{% url 'profile' %}" id="profile-sidebar-dashboard">Dashboard</a>
      <a class="btn" href="{% url 'myorders' %}" id="profile-sidebar-myorders">My Orders</a>
      <a class="btn" href="{% url 'orderhistory' %}" id="profile-sidebar-orderhistory">Order Histroy</a>
      <a class="btn" href="{% url 'userprofile' %}" id="profile-sidebar-profile">Profile</a>
      <a class="btn" href="{% url 'account_logout' %}">Logout</a>
    </div>

    <div class="col-10 right-col">
      {% block profile_right_col %}

      {% endblock %}
    </div>
  </div>
{% endblock %}
