{% extends 'userprofile/main_profile.html' %}

{% block profile_right_col %}
  <script>
    let profile_sidebar_orderhistory = document.getElementById('profile-sidebar-orderhistory')
    profile_sidebar_orderhistory.style.background = 'rgb(169, 195, 255)'
  </script>

  <h1>Order Histroy</h1>
  <br />
  <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quam incidunt exercitationem veniam odio! Nulla, quis repellat? Optio architecto id quas tempore soluta officia totam labore iure unde veritatis asperiores dolore illo debitis esse, fugiat laborum nam! Molestias velit hic magni inventore cumque, debitis odit, aliquid voluptatibus vel temporibus deserunt?</h2>
{% endblock %}
