{% extends 'userprofile/main_profile.html' %}

{% block profile_right_col %}
  <script>
    let profile_sidebar_profile = document.getElementById('profile-sidebar-profile')
    profile_sidebar_profile.style.background = 'rgb(169, 195, 255)'
  </script>

  <h1 class="h1 text-center">Profile</h1>
  <br />

  <div class="container">
    {% if user_data %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <i class="far fa-user"></i> Username
            </th>
            <td>{{ user_data.username }}</td>
          </tr>

          {% if user_data.first_name %}
            <tr>
              <th>First Name</th>
              <td>{{ user_data.first_name }}</td>
            </tr>
          {% endif %}

          {% if user_data.last_name %}
            <tr>
              <th>Last Name</th>
              <td>{{ user_data.last_name }}</td>
            </tr>
          {% endif %}

          <tr>
            <th>
              <i class="far fa-envelope"></i> Email
            </th>
            <td>{{ user_data.email }}</td>
          </tr>

          <tr>
            <th>
              <i class="far fa-calendar"></i> Date Joined
            </th>
            <td>{{ user_data.date_joined }}</td>
          </tr>

          <tr>
            <th>
              <i class="fas fa-unlock"></i> Password
            </th>
            <td>
              <a href="{% url 'account_change_password' %}" class="btn btn-warning">Change Password</a>
            </td>
          </tr>
        </tbody>
      </table>
    {% endif %}
  </div>
{% endblock %}
