{% extends 'layout/main.html' %} {% load static %}

{% block breadcrumbs %}
  <link rel="stylesheet" href="{% static 'css/cart.css' %}" />
  <nav class="navbar navbar-expand-lg breadcrumb-navbar">
    <div class="container-fluid" style="display: flex;flex-direction: column;">
      <div>
        <h1>Shopping Cart</h1>
      </div>
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'homepage' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <a href="{% url 'cart' %}">Cart</a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/cart.css' %}" />
  <div class="cart-items-div">
    <!-- If user is not logged in and using Guest user CART -->
    {% if not user.is_authenticated and cart_items %}
      <p class="p text-center my-3">
        This cart will expire in '<strong><span id="cart-expiry-date">*</span></strong>' ,
        <a href="{% url 'account_login' %}">Login</a> to store your items and keep your cart active.
      </p>
    {% endif %}

    {% if cart_items %}
      {% for item in cart_items %}
        <div class="row my-2">
          <div class="col-md-2">
            <img src="{{ item.image.url }}" class="img-fluid" alt="Product Image" />
          </div>

          <div class="col-md-6 my-2">
            <h4>{{ item.title }}</h4>
            <a href="{% url 'view_product' item.cart_item.product_id %}">View Product</a>
            <p>
              Price : Nrs. <span>{{ item.cart_item.price }}</span>/-
            </p>
            <a class="btn btn-danger" href="{% url 'delete-cart' item.cart_item.product_id %}">Delete</a>
          </div>

          <div class="col my-3 cart_container">
            <form action="">
              <div class="cart-item-quantity">
                <label for="quantity">Quantity:</label>
                <div class="custom-number-input">
                  <button type="button" class="decrement">-</button>
                  <input type="number" class="quantity" min="1" value="{{ item.cart_item.quantity }}" data-product-id="{{ item.cart_item.product_id }}" />
                  <button type="button" class="increment">+</button>
                </div>
              </div>
            </form>
            <p class="my-2">
              Subtotal : Nrs. <strong><span class="cart_total_price">{{ item.cart_item.cart_total_price }}</span>/-</strong>
            </p>
            <div class="info-message" id="infoMessage"></div>
          </div>
        </div>
        <hr />
      {% endfor %}
    {% endif %}
  </div>

  {% if cart_items %}
    <div class="row my-3">
      <div class="col-md-8">
        <!-- Empty Left side with Col8 to push summary div to right -->
      </div>
      <div class="col summary-div">
        <h2 class="h2">Summary</h2>
        <hr />
        <p class="d-flex justify-content-between">
          Total Items <span>{{ total_cart_items_counter }}</span>
        </p> <hr />
        <p class="d-flex justify-content-between">
          Tax <span>Nrs.00/-</span>
        </p> <hr />
        <p class="d-flex justify-content-between">
          Delivery Charge <span>Free</span>
        </p> <hr />
        <h6 class="d-flex justify-content-between">
          Grand Total :<p>
            Nrs. <span id="grand_total_price">{{ sub_total_price }}</span>/-
          </p>
        </h6>
        <hr />
        <a href="{% url 'checkout' %}" class="btn btn-dark my-3">Proceed to Checkout</a>
      </div>
    </div>
  {% else %}
    <h3 class="h3 text-center my-5">0 Items in Cart</h3>
  {% endif %}

  <script type="module" src="{% static 'js/cart.js' %}"></script>
  <script type="module" src="{% static 'js/getCartExpiryTime.js' %}"></script>
{% endblock %}
