{% extends 'layout/main.html' %} {% load static %}

{% block breadcrumbs %}
  <link rel="stylesheet" href="{% static 'css/cart.css' %}" />
  <nav class="navbar navbar-expand-lg navbar-light bg-light breadcrumb-navbar">
    <div class="container-fluid" style="display: flex;flex-direction: column;">
      <div>
        <h1>Shopping Cart</h1>
      </div>
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'homepage' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <a href="{% url 'cart' %}">Cart</a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/cart.css' %}" />
  <div class="cart-items-div">
    {% comment %}LOOP Products here{% endcomment %}
    <div class="row my-2">
      <div class="col-md-2">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="img-fluid" alt="Product Image" />
      </div>

      <div class="col-md-6 my-2">
        <h4>Product Title</h4>
        <p>
          Price : Nrs. <span>3000</span>/-
        </p>
        <a href="{% url 'cart' %}" class="btn btn-danger">Delete</a>
      </div>

      <div class="col my-3">
        <form action="">
          <div class="cart-item-quantity">
            <label for="quantity">Quantity:</label>
            <div class="custom-number-input">
              <button type="button" id="decrement">-</button>
              <input type="number" name="quantity" id="quantity" min="1" value="1" />
              <button type="button" id="increment">+</button>
            </div>
          </div>
        </form>
        <p class="my-2">
          Subtotal : Nrs. <strong><span id="price">3000</span>/-</strong>
        </p>
      </div>
    </div>
    <hr />
  </div>

  <div class="row my-3">
    <div class="col-md-8">
      <!-- Empty Left side with Col8 to push summary div to right -->
    </div>
    <div class="col summary-div">
      <h2 class="h2">Summary</h2>
      <hr />
      <p class="d-flex justify-content-between">
        Total Items : <span>1</span>
      </p> <hr />
      <h6 class="d-flex justify-content-between">Grand Total : <span>Nrs.5000</span></h6>
      <hr />
      <a href="#" class="btn btn-dark my-3">Proceed to Checkout</a>
    </div>
  </div>

  <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}
