{% load static %}
<header>
  <link rel="stylesheet" href="{% static 'css/banner.css' %}" />
  <!-- Background image -->
  <div class="p-5 text-center bg-image" style=" 
 background-image: url({% static 'images/BackgroundModel.jpg' %});
">
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">MotoGears</h1>
          <h4 class="mb-3">"Gear up for the ride of your life, because safety should always be in style."</h4>
          <a class="btn btn-outline-light btn-lg" href="{% url 'shop' %}">SHOP</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
