.breadcrumb-navbar {
  box-shadow: none;
}

/* REMOVING the Default UP/DOWN Arrow of Number Input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* CSS to style the form */
.form-group {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Vertically center align elements */
}

/* Optionally, add some spacing between the input and button */
input[type="number"] {
  margin-right: 10px; /* Adjust as needed */
  width: 100px;
}

.info-message {
  color: #ff0000; /* Red color for warnings */
  font-size: 12px;
  margin-top: 5px; /* Spacing from the input */
  display: none; /* Initially hidden */
}
