{% extends 'layout/main.html' %}
{% load static %}

{% block breadcrumbs %}
  <link rel="stylesheet" href="{% static 'css/view_product.css' %}" />
  <nav class="navbar navbar-expand-lg navbar-light bg-light breadcrumb-navbar">
    <div class="container-fluid" style="display: flex;flex-direction: column;">
      <div>
        <h1>Product Detail</h1>
      </div>
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'homepage' %}">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="{% url 'shop' %}">Shop</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <a href="{% url 'view_product' product.id %}">{{ product.title }}</a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/view_product.css' %}" />

  <div class="card my-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ product.image.url }}" alt="Product Image Here" class="img-fluid rounded-start" style="max-width: 300px; " />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">{{ product.title }}</h2>
          <p class="card-text">{{ product.description }}</p>

          <p>Category : {{ product.category }}</p>
          <p>Brand : {{ product.brand }}</p>

          {% if product.sale_price %}
            <h4><s style="color: red;">Nrs.{{ product.original_price }}</s> <span style="color: green;">{{ product.sale_price }}</span></h4>
          {% else %}
            <h4><span>Nrs.{{ product.original_price }}</span></h4>
          {% endif %}

          {% if product.quantity <= 0 %}
            <a href="#" class="btn btn-dark btn-hidden disabled" role="button">Out of Stock</a>
          {% else %}
            <p>
              Only <strong>'{{ product.quantity }}'</strong> left in stock.
            </p>
            <form>
              <div class="form-group">
                <input type="number" name="quantity" id="cart_item_quantity" min="1" value="1" max="{{ product.quantity }}" />
                <button type="button" class="btn btn-primary" id="addtocartbtn" data-product-id="{{ product.id }}">Add to Cart</button>
              </div>
              <div class="info-message" id="infoMessage">Demo Warning Message</div>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
