/* CSS for Products i.e. Discount Products & New Arrival Products */

.card .bg-image img {
  width: 15rem; /* Set the desired width */
  height: 200px; /* Set the desired height */
  object-fit: contain; /* To maintain aspect ratio and cover the container */
}

.card {
  width: fit-content;
  margin: 1rem 0;
}

.products-row .col {
  width: fit-content;
}

.card .span-tag {
  /* style="position: absolute; top: 0; left: 0; background-color: red; color: white; padding: 5px;" */
  position: absolute;
  top: 5px;
  left: 0;
  padding: 3px 8px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.card #discount_tag {
  background-color: red;
  color: white;
}

.card #new_tag {
  background-color: rgba(148, 148, 148, 0.404);
  color: black;
}

.card:hover {
  transition-duration: 100ms;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
}

#discount_product_title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 12rem;
}
